TOKEN_ADDRESS=0x29b9e5306cbc8e0e8e4c1d63fc85a843303e0c7a
RPC_URL=https://rpc.mainnet.chain.robinhood.com
SIGNING_ENABLED=false
# CREATOR_PRIVATE_KEY= never commit this
DATA_ROOT=./data
# Required for complete generic holder indexing/airdrops:
TOKEN_LAUNCH_BLOCK=23534520
